// RON format (with or without outermost parentheses)

// toyboot4e.github.io/adbook
base_url: "/adbook",
src_dir: "src",
site_dir: "docs",

authors: ["adbook"],
title: "adbook demo site",

// don't generate `all.html`
generate_all: false,

use_default_theme: true,
includes: [
    "static/img",
],

converts: [
    // "404.adoc",
],

// `asciidoctor` command line options
adoc_opts: [
    ("-a", [
        // default Handlebars template file, relative to the source directroy
        "hbs@=theme/hbs/article.hbs",

        // css
        "linkcss",
        "stylesdir@={base_url}/theme/css",
        "stylesheet@=article.css",

        // image
        "imagesdir@={base_url}/static/img",
        "imagesoutdir@={src_dir}/static/img",

        // preferences
        "hardbreaks",
        "sectnums",
        "sectnumlevels@=2",
        "tabside@=4",

        // features
        "experimental",
        "stem@=latexmath",
        "icons@=font",

        // links (available with `{name}` syntax in AsciiDoc files)
        "adbook=https://github.com/toyboot4e/adbook[adbook]",
        "rust=https://www.rust-lang.org/[Rust]",
        "asciidoctor=https://asciidoctor.org/[Asciidoctor]",
        "mdbook=https://github.com/rust-lang/mdBook[mdBook]",
        "handlebars=https://handlebarsjs.com/[Handlebars]",
        "prismjs=https://prismjs.com/[Prism.js]",

        "adoc=https://asciidoctor.org/[Asciidoctor]",
        "prism=https://prismjs.com/[Prism.js]",
    ]),
]
