@import url("term.css");

/* Vertical writing */
#content {
    writing-mode: vertical-rl;
    margin-left: 400px;

    margin: 0;
    padding: 0;
    /* width: calc(24rem * 1.8); */
    /* max-width: calc(100% - 3rem); */
    height: 38rem;
    max-height: calc(100vh - 50px);
    column-span: all;
    /* column mode! */
    column-width: 24rem;
    column-gap: 4em;
    writing-mode: vertical-rl;
    text-combine-upright: digit 2;
    line-height: 1.8 !important;
}
