@import url("term.css");

main {
    overflow: scroll;
    height: calc(
        100vh - var(--header-height) - 44px /* adoc-meta + scroll bar height */
    );
}

main > * {
    max-width: 50em;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
}
