(
    preface: ("Demos by themes", "preface.adoc"),
    items: [
        File("Terminal dark", "term.adoc"),
        File("Asciidoctor default", "light.adoc"),
        File("Vertical writing", "term_vert.adoc"),
    ],
)
