(
    base_url: ".",
    authors: ["author"],
    title: "title",
    src_dir: "src",
    site_dir: "site",

    includes: [
        "img",
        "theme/css",
        "theme/js",
    ],

    // options for `asciidoctor`
    adoc_opts: [
        ("-a", [
            // relative path to Handlebars template from source directory
            "hbs@=theme/hbs/article.hbs",
            // css
            "linkcss",
            "stylesdir@=/{base_url}/theme/css",
            "stylesheet@=term.css",
            // image
            "imagesdir@=/{base_url}/img",
            "imagesoutdir@={src_dir}/img",
            // "favicon@=/img/favicon.png",
            // preferences
            "hardbreaks",
            "sectnums",
            "sectnumlevels@=2",
            "tabside@=4",
            // features
            "experimental",
            "stem@=latexmath",
            "icons@=font",
            // links (available as `{name}` in AsciiDoc files)
            "adbook=https://github.com/toyboot4e/adbook[adbook]",
        ]),
    ]
)
