// RON format (with or without outermost parentheses)

summary: ("About", "index.adoc"),
items: [
    Dir("demos"),
    File("", "custom.adoc"),
    File("", "credits.adoc"),
    File("", "todos.adoc"),
],
