(
    summary: ("About", "index.adoc"),
    items: [
        Dir("themes"),
        File("Demo (diagrams)", "demo_diagrams.adoc"),
        File("Advanced usages", "usages.adoc"),
        File("Customizing theme", "custom.adoc"),
        File("TODOs", "todos.adoc"),
    ],
)
