(
    summary: ("About", "index.adoc"),
    items: [
        Dir("demos"),
        File("Advanced usages", "usages.adoc"),
        File("Customizing theme", "custom.adoc"),
        File("TODOs", "todos.adoc"),
    ],
)
