// RON format (with or without outermost parentheses)

summary: ("", "summary.adoc"),
//        ^ (optional) override the title
items: [
    File("Demo", "demo.adoc"),
    File("Demo (diagrams)", "demo_diagrams.adoc"),
],
