// RON format (with or without outermost parentheses)

summary: ("", "index.adoc"),
//        ^ (optional) override the title
items: [
    File("", "demo.adoc"),
    File("Demo (diagrams)", "demo_diagrams.adoc"),
],
